body {
    height: 100vh;
    overflow: scroll;
    font-family: Comic Sans MS, Comic Sans, cursive	;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: gainsboro;
}

.pageHeader {
    background-color: silver;
    color: #ff2400;
    font-size: 50px;
    padding-left: 175px;
    padding-right: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

img {
    height: auto;
    width: 250px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    gap: 50px;
}